<article class="p-2">
  <section class="flex flex-wrap justify-center sm:justify-start gap-x-3 mb-2">
    <div class="sm:basis-auto">
      <label class="block font-bold" for="nome">Nome do Personagem</label>
      <input id="nome" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['nome']">
    </div>
    <div class="sm:basis-auto">
      <label for="nivel" class="block font-bold">Level</label>
      <input id="nivel" type="number" class="bg-pastel border-b border-vermelho rounded sm:w-16"
             [(ngModel)]="meuPersonagem['nivel']">
    </div>
  </section>
  <section class="flex flex-wrap justify-center sm:justify-start gap-x-3 gap-y-2">
    <div class="basis-auto">
      <label for="origem" class="block font-bold">Origem</label>
      <input id="origem" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['origem']">
    </div>
    <div class="basis-auto">
      <label for="arquetipo" class="block font-bold">Arquétipo</label>
      <input id="arquetipo" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['arquetipo']">
    </div>
    <div class="basis-auto">
      <label for="profissao" class="block font-bold">Profissão</label>
      <input id="profissao" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['profissao']">
    </div>
    <div class="basis-auto">
      <label for="residencia" class="block font-bold">Residência</label>
      <input id="residencia" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['residencia']">
    </div>
    <div class="basis-auto">
      <label for="personalidade" class="block font-bold">Personalidade</label>
      <input id="personalidade" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['personalidade']">
    </div>
    <div class="basis-auto">
      <label for="motivacao" class="block font-bold">Motivação</label>
      <input id="motivacao" type="text" class="bg-pastel border-b border-vermelho rounded"
             [(ngModel)]="meuPersonagem['motivacao']">
    </div>
    <div class="flex-none flex justify-start gap-x-3 gap-y-2">
      <div class="basis-auto">
        <label for="idade" class="block font-bold">Idade</label>
        <input id="idade" type="number" class="bg-pastel border-b border-vermelho rounded w-16"
               [(ngModel)]="meuPersonagem['idade']">
      </div>
      <div class="basis-auto">
        <label for="sexo" class="block font-bold">Sexo</label>
        <input id="sexo" type="text" class="bg-pastel border-b border-vermelho rounded w-16"
               [(ngModel)]="meuPersonagem['sexo']">
      </div>
      <div class="basis-auto">
        <label for="peso" class="block font-bold">Peso</label>
        <input id="peso" type="number" class="bg-pastel border-b border-vermelho rounded w-16"
               [(ngModel)]="meuPersonagem['peso']">
      </div>
      <div class="basis-auto">
        <label for="altura" class="block font-bold">Altura</label>
        <input id="altura" type="number" class="bg-pastel border-b border-vermelho rounded w-16"
               [(ngModel)]="meuPersonagem['altura']">
      </div>
    </div>
  </section>
</article>
