<header class="w3-dark-gray w3-panel w3-margin-top">
  <h3>Ficha de Personagem do Oeste Jurássico</h3>
</header>
<main class="w3-card-4 w3-round w3-padding w3-animate-opacity">
  <section class="w3-panel w3-section">
    <div class="w3-padding-small w3-cell w3-mobile">
      <label for="nome" class="w3-block w3-bold">Nome do Personagem</label>
      <input id="nome" type="text" class="w3-input" style="width: 18rem">
    </div>
  </section>
  <section class="w3-panel w3-cell-row w3-section">
    <div class="w3-padding-small w3-cell ">
      <label for="origem" class="w3-block w3-bold">Origem</label>
      <input id="origem" type="text" class="w3-input" [(ngModel)]="origem" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell ">
      <label for="arquetipo" class="w3-block w3-bold">Arquétipo</label>
      <input id="arquetipo" type="text" class="w3-input" [(ngModel)]="arquetipo" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell ">
      <label for="profissao" class="w3-block w3-bold">Profissão</label>
      <input id="profissao" type="text" class="w3-input" [(ngModel)]="profissao" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="width: 100px">
      <label for="nivel" class="w3-block w3-bold">Nivel</label>
      <input id="nivel" type="number" class="w3-input" [(ngModel)]="nivel" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="">
      <label for="residencia" class="w3-block w3-bold">Residência</label>
      <input id="residencia" type="text" class="w3-input" [(ngModel)]="residencia"
             (keyup)="saveChanges()">
    </div>
  </section>
  <section class="w3-panel w3-section">
    <div class="w3-padding-small w3-cell w3-mobile">
      <label for="personalidade" class="w3-block w3-bold">Personalidade</label>
      <input id="personalidade" type="text" class="w3-input" [(ngModel)]="personalidade"
             (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell w3-mobile">
      <label for="motivacao" class="w3-block w3-bold">Motivação</label>
      <input id="motivacao" type="text" class="w3-input" [(ngModel)]="motivacao" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="width: 100px;">
      <label for="idade" class="w3-block w3-bold">Idade</label>
      <input id="idade" type="number" class="w3-input" [(ngModel)]="idade" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="width: 100px;">
      <label for="sexo" class="w3-block w3-bold">Sexo</label>
      <input id="sexo" type="text" class="w3-input" [(ngModel)]="sexo" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="width: 100px;">
      <label for="peso" class="w3-block w3-bold">Peso</label>
      <input id="peso" type="number" class="w3-input" [(ngModel)]="peso" (keyup)="saveChanges()">
    </div>
    <div class="w3-padding-small w3-cell" style="width: 100px;">
      <label for="altura" class="w3-block w3-bold">Altura</label>
      <input id="altura" type="number" class="w3-input" [(ngModel)]="altura" (keyup)="saveChanges()">
    </div>
  </section>
  <hr>
  <article class="w3-panel w3-mobile w3-row">
    <section class="w3-third w3-padding-small w3-section">
      <div class="w3-row">
        <div class="w3-col s6 m6 w3-center">
          <h3 class=""><strong>Cor: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                    [(ngModel)]="corpo" (keyup)="saveChanges()">
          </h3>
          <span class="w3-tag">Corpo</span>
        </div>
        <div class="w3-col s6 m6 w3-center">
          <h3 class=""><strong>Agi: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                    [(ngModel)]="agilidade"
                                                    (keyup)="saveChanges()"></h3>
          <span class="w3-tag">Agilidade</span>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col s6 m6 w3-center">
          <h3 class=""><strong>Ast: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                    [(ngModel)]="astucia"
                                                    (keyup)="saveChanges()"></h3>
          <span class="w3-tag">Astúcia</span>
        </div>
        <div class="w3-col s6 m6 w3-center">
          <h3 class=""><strong>Pre: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                    [(ngModel)]="presenca"
                                                    (keyup)="saveChanges()"></h3>
          <span class="w3-tag">Presença</span>
        </div>
      </div>
      <hr>
      <div class="w3-row w3-margin-top">
        <h5 class="w3-padding-small" style="margin: 0"><b>Salvaguardas</b></h5>
        <div class="w3-col s6 w3-center w3-padding">
          <p class="w3-small"><strong>Fortitude: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                                 [(ngModel)]="fortitude"
                                                                 (keyup)="saveChanges()">
          </p>
        </div>
        <div class="w3-col s6 w3-center w3-padding">
          <p class="w3-small"><strong>Reflexos: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                                [(ngModel)]="reflexos"
                                                                (keyup)="saveChanges()">
          </p>
        </div>
        <div class="w3-col s6 w3-center w3-padding">
          <p class="w3-small"><strong>Iniciativa: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                                  [(ngModel)]="iniciativa"
                                                                  (keyup)="saveChanges()">
          </p>
        </div>
        <div class="w3-col s6 w3-center w3-padding">
          <p class="w3-small"><strong>Vontade: </strong><input class="w3-border-0" type="number" style="width: 50px"
                                                               [(ngModel)]="vontade"
                                                               (keyup)="saveChanges()">
          </p>
        </div>
      </div>
    </section>
    <section class="w3-third w3-padding-small w3-section w3-border-left w3-border-right">
      <div class="w3-row w3-center">
        <div class="w3-col s12">
          <h6><b>Vigor: </b><input class="w3-border-0" type="number" style="width: 40px"
                                   [(ngModel)]="vigor"
                                   (keyup)="saveChanges()"></h6>
        </div>
        <div class="w3-col s6">
          <h6><b>Saúde: </b><input class="w3-border-0" type="number" style="width: 40px"
                                   [(ngModel)]="saude"
                                   (keyup)="saveChanges()"></h6>
        </div>
        <div class="w3-col s6">
          <h6><b>Stress: </b><input class="w3-border-0" type="number" style="width: 40px"
                                    [(ngModel)]="stress"
                                    (keyup)="saveChanges()"></h6>
        </div>
      </div>
      <div class="w3-row w3-center">
        <div class="w3-col s6">
          <h6><strong>Defesa: </strong><input class="w3-border-0" type="number" style="width: 40px"
                                              [(ngModel)]="defesa"
                                              (change)="saveChanges()"></h6>
        </div>
        <div class="w3-col s6">
          <h6><strong>Proficiência: </strong><input class="w3-border-0" type="number" style="width: 40px"
                                                    [(ngModel)]="proficiencia" (keyup)="saveChanges()">
          </h6>
        </div>
      </div>
      <hr>
      <div class="w3-row w3-center">
        <h6 class="w3-left-align w3-container"><b>Carga</b> (Total: )</h6>
        <div class="w3-col s3 w3-padding-small"><input class="w3-input" type="number"
                                                       [(ngModel)]="cargaLeve"
                                                       (keyup)="saveChanges()"><span class="">Leve</span></div>
        <div class="w3-col s3 w3-padding-small"><input class="w3-input" type="number"
                                                       [(ngModel)]="cargaMedia"
                                                       (keyup)="saveChanges()"><span class="">Média</span></div>
        <div class="w3-col s3 w3-padding-small"><input class="w3-input" type="number"
                                                       [(ngModel)]="cargaPesada"
                                                       (keyup)="saveChanges()"><span class="">Pesada</span></div>
        <div class="w3-col s3 w3-padding-small"><input class="w3-input" type="number"
                                                       [(ngModel)]="cargaMaxima"
                                                       (keyup)="saveChanges()"><span class="">Máxima</span></div>
      </div>
    </section>
    <section class="w3-third w3-padding-small w3-section">
      <div class="w3-row">
        <div class="w3-col s4 m12 w3-center">
          <h6><strong>Experiência: </strong><input class="w3-border-0" type="number" style="width: 60px"
                                                   [(ngModel)]="experiencia" (keyup)="saveChanges()"></h6>
        </div>
        <div class="w3-col s4 m12 w3-center">
          <h6><strong>Determinação: </strong><input class="w3-border-0" type="number" style="width: 60px"
                                                    [(ngModel)]="determinacao" (keyup)="saveChanges()">
          </h6>
        </div>
        <div class="w3-col s4 m12 w3-center">
          <h6><strong>Moralidade: </strong><input class="w3-border-0" type="number" style="width: 60px"
                                                  [(ngModel)]="moralidade" (keyup)="saveChanges()"></h6>
        </div>
      </div>
      <hr>
      <div class="w3-row w3-center w3-section">
        <div class="w3-col s6">
          <span><b>Dinheiro: </b><input class="w3-border-0" type="number" style="width: 60px"
                                        [(ngModel)]="dinheiro"
                                        (keyup)="saveChanges()"></span>
        </div>
        <div class="w3-col s6">
          <span><b>Ouro: </b><input class="w3-border-0" type="number" style="width: 60px"
                                    [(ngModel)]="ouro"
                                    (keyup)="saveChanges()"></span>
        </div>
      </div>
    </section>
  </article>
  <article class="w3-panel w3-mobile w3-row">
    <section class="w3-third w3-padding-small">
      <div class="w3-row">
        <h5><b>Equipamentos</b></h5>
        <textarea name="equipamento" id="equipamento" class="w3-input" style="height: 100%" rows="6"
                  [(ngModel)]="equipamento" (keyup)="saveChanges()"></textarea>
      </div>
    </section>
    <section class="w3-twothird w3-padding-small">
      <h5><b>Idiomas, Perícias e Conhecimentos</b></h5>
      <textarea name="conhecimentos" id="conhecimentos" class="w3-input" rows="6"
                [(ngModel)]="conhecimentos"
                (keyup)="saveChanges()"></textarea>
    </section>
  </article>
  <article class="w3-panel w3-mobile">
    <h5><b>Armas</b></h5>
    <section class="w3-section w3-border-top">
      <p class="w3-border-bottom w3-padding-small" *ngFor="let arma of armas; let i = index">- {{arma.nome}}
        | {{arma.municao}} balas [{{arma.dano}}] | Carga: {{arma.carga}} | Custo: {{arma.custo}} | {{arma.rotulo}}</p>
    </section>
    <hr>
    <h6><b>Adicionar Arma</b></h6>
    <form>
      <div class="w3-cell-row ">
        <div class="w3-cell w3-padding-small w3-mobile" style="width: 50px;">
          <label for="carga">Carga</label>
          <input name="carga" id="carga" class=" w3-input">
        </div>
        <div class="w3-cell w3-padding-small w3-mobile">
          <label for="armas">Nome da Arma</label>
          <input name="armas" id="armas" class=" w3-input">
        </div>
        <div class="w3-cell w3-padding-small w3-mobile" style="width: 50px;">
          <label for="ammo">Munição</label>
          <input name="ammo" id="ammo" class=" w3-input">
        </div>
        <div class="w3-cell w3-padding-small w3-mobile">
          <label for="dano">Dano</label>
          <input name="dano" id="dano" class=" w3-input">
        </div>
        <div class="w3-cell w3-padding-small w3-mobile">
          <label for="custo">Custo</label>
          <input name="custo" id="custo" class=" w3-input">
        </div>
        <div class="w3-cell w3-padding-small w3-mobile">
          <label for="rotulo">Rótulo</label>
          <input name="rotulo" id="rotulo" class=" w3-input">
        </div>
      </div>
      <div class="w3-margin-top">
        <button class="w3-button w3-black w3-round">Adicionar</button>
      </div>
    </form>
  </article>
</main>
<footer class="w3-dark-gray w3-panel w3-margin-bottom w3-center">
  <p class="w3-tiny">Versão 1.0 Alpha</p>
</footer>
