<header class="container bg-marrom text-amarelo p-3 mt-4">
  <h2 class="text-2xl font-bold">Ficha de Personagem do Oeste Jurássico</h2>
</header>
<main class="container border-marrom border-2 text-marrom ">
  <article>
    <section class="flex flex-row flex-wrap justify-start mb-2">
      <div class="mr-2 flex-initial">
        <label class="block font-bold" for="nome">Nome do Personagem</label>
        <input id="nome" class="bg-pastel border-b border-vermelho" type="text" [(ngModel)]="meuPersonagem['nome']">
      </div>
      <div class="mr-2 flex-initial">
        <label for="nivel" class="block font-bold">Level</label>
        <input id="nivel" type="number" class="bg-pastel border-b border-vermelho w-12"
               [(ngModel)]="meuPersonagem['nivel']">
      </div>
    </section>
    <section class="flex flex-row flex-wrap gap-2">
      <div class="flex-auto">
        <label for="origem" class="block font-bold">Origem</label>
        <input id="origem" type="text" class="bg-pastel border-b border-vermelho" [(ngModel)]="meuPersonagem['origem']">
      </div>
      <div class="flex-auto">
        <label for="arquetipo" class="block font-bold">Arquétipo</label>
        <input id="arquetipo" type="text" class="bg-pastel border-b border-vermelho"
               [(ngModel)]="meuPersonagem['arquetipo']">
      </div>
      <div class="flex-auto">
        <label for="profissao" class="block font-bold">Profissão</label>
        <input id="profissao" type="text" class="bg-pastel border-b border-vermelho"
               [(ngModel)]="meuPersonagem['profissao']">
      </div>
      <div class="flex-auto">
        <label for="residencia" class="block font-bold">Residência</label>
        <input id="residencia" type="text" class="bg-pastel border-b border-vermelho"
               [(ngModel)]="meuPersonagem['residencia']">
      </div>
      <div class="flex-auto">
        <label for="personalidade" class="block font-bold">Personalidade</label>
        <input id="personalidade" type="text" class="bg-pastel border-b border-vermelho"
               [(ngModel)]="meuPersonagem['personalidade']">
      </div>
      <div class="flex-auto">
        <label for="motivacao" class="block font-bold">Motivação</label>
        <input id="motivacao" type="text" class="bg-pastel border-b border-vermelho"
               [(ngModel)]="meuPersonagem['motivacao']">
      </div>
      <div class="flex-auto">
        <label for="idade" class="block font-bold">Idade</label>
        <input id="idade" type="number" class="bg-pastel border-b border-vermelho  m:w-1/4"
               [(ngModel)]="meuPersonagem['idade']">
      </div>
      <div class="flex-auto">
        <label for="sexo" class="block font-bold">Sexo</label>
        <input id="sexo" type="text" class="bg-pastel border-b border-vermelho  m:w-1/4"
               [(ngModel)]="meuPersonagem['sexo']">
      </div>
      <div class="flex-auto">
        <label for="peso" class="block font-bold">Peso</label>
        <input id="peso" type="number" class="bg-pastel border-b border-vermelho  m:w-1/4"
               [(ngModel)]="meuPersonagem['peso']">
      </div>
      <div class="flex-auto">
        <label for="altura" class="block font-bold">Altura</label>
        <input id="altura" type="number" class="bg-pastel border-b border-vermelho  m:w-1/4"
               [(ngModel)]="meuPersonagem['altura']">
      </div>
    </section>
  </article>
  <hr class="my-6 text-vermelho">
  <article>
    <section class="flex flex-row flex-wrap justify-between">

      <div class="flex-initial w-full md:w-1/3 p-1 md:p-2">
        <div class="flex flex-row justify-center">
          <div class="p-2 text-center">
            <h3 class="font-bold inline">Cor: </h3>
            <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                   [(ngModel)]="meuPersonagem['corpo']">
            <span class="block text-center">Corpo</span>
          </div>
          <div class="p-2 text-center">
            <h3 class="font-bold inline">Agi: </h3>
            <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                   [(ngModel)]="meuPersonagem['agilidade']">
            <span class="block text-center">Agilidade</span>
          </div>
        </div>
        <div class="flex flex-row justify-center">
          <div class="p-2 text-center">
            <h3 class="font-bold inline">Ast: </h3>
            <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                   [(ngModel)]="meuPersonagem['astucia']">
            <span class="block text-center">Astúcia</span>
          </div>
          <div class="p-2 text-center">
            <h3 class="font-bold inline">Pre: </h3>
            <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                   [(ngModel)]="meuPersonagem['presenca']">
            <span class="block text-center">Presença</span>
          </div>
        </div>

        <hr class="text-vermelho my-2">

        <div class="mx-4 p-2">
          <h5 class="font-bold text-lg">Salvaguardas</h5>
          <div class="md:flex flex-row justify-center">
            <div class="p-2 text-center">
              <h4 class="font-bold inline">Fortitude </h4>
              <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                     [(ngModel)]="meuPersonagem['fortitude']">
            </div>
            <div class="p-2 text-center">
              <h4 class="font-bold inline">Reflexos </h4>
              <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                     [(ngModel)]="meuPersonagem['reflexos']">
            </div>
            <div class="p-2 text-center">
              <h4 class="font-bold inline">Iniciativa </h4>
              <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                     [(ngModel)]="meuPersonagem['iniciativa']">
            </div>
            <div class="p-2 text-center">
              <h4 class="font-bold inline">Vontade </h4>
              <input type="number" class="inline bg-pastel border-b border-vermelho w-12"
                     [(ngModel)]="meuPersonagem['vontade']">
            </div>
          </div>
        </div>
      </div>
      <div class="flex-initial w-full md:w-1/3 p-1 md:p-2 md:border-x text-center">
        <hr class="text-vermelho my-2 md:hidden">
        <div class="w-full inline-block mt-3">
          <h6 class="font-bold">Vigor:
            <input class="inline bg-pastel border-b border-vermelho font-normal w-12"
                   type="number"
                   [(ngModel)]="meuPersonagem['vigor']">
          </h6>
        </div>
        <div class="w-full md:w-48 inline-block mt-3">
          <h6 class="font-bold">Saúde:
            <input class="inline bg-pastel border-b border-vermelho font-normal w-12"
                   type="number"
                   [(ngModel)]="meuPersonagem['saude']">
          </h6>
        </div>
        <div class="w-full md:w-48 inline-block mt-3">
          <h6 class="font-bold">Stress:
            <input class="inline bg-pastel border-b border-vermelho font-normal w-12"
                   type="number"
                   [(ngModel)]="meuPersonagem['stress']">
          </h6>
        </div>
        <div class="w-full md:w-48 inline-block mt-3">
          <h6 class="font-bold">Defesa:
            <input class="inline bg-pastel border-b border-vermelho font-normal w-12"
                   type="number"
                   [(ngModel)]="meuPersonagem['defesa']">
          </h6>
        </div>
        <div class="w-full md:w-48 inline-block mt-3">
          <h6 class="font-bold">Proficiência:
            <input class="inline bg-pastel border-b border-vermelho font-normal w-12"
                   type="number"
                   [(ngModel)]="meuPersonagem['proficiencia']">
          </h6>
        </div>
        <hr class="text-vermelho my-4">
        <div class="">
          <h6 class="w-full text-left mx-4 md:px-10 mb-2">
            <strong>Carga </strong>(Total: {{
            (meuPersonagem['cargaLeve']! +
              meuPersonagem['cargaMedia']! +
              meuPersonagem['cargaPesada']! +
              meuPersonagem['cargaMaxima']!) || 0}})</h6>
          <div class="flex flex-row flex-nowrap justify-between md:px-10">
            <div class="w-48 md:inline-block">
              <input class="inline bg-pastel border-b border-vermelho font-normal w-14"
                     type="number"
                     [(ngModel)]="meuPersonagem['cargaLeve']">
              <p class="text-sm font-bold">Leve</p>
            </div>
            <div class="w-48 md:inline-block">
              <input class="inline bg-pastel border-b border-vermelho font-normal w-14"
                     type="number"
                     [(ngModel)]="meuPersonagem['cargaMedia']">
              <p class="text-sm font-bold">Média</p>
            </div>
            <div class="w-48 md:inline-block">
              <input class="inline bg-pastel border-b border-vermelho font-normal w-14"
                     type="number"
                     [(ngModel)]="meuPersonagem['cargaPesada']">
              <p class="text-sm font-bold">Pesada</p>
            </div>
            <div class="w-48 md:inline-block">
              <input class="inline bg-pastel border-b border-vermelho font-normal w-14"
                     type="number"
                     [(ngModel)]="meuPersonagem['cargaMaxima']">
              <p class="text-sm font-bold">Máxima</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-initial w-full md:w-1/3 p-1 md:p-2 text-center">
        <hr class="text-vermelho my-2 md:hidden">
        <div class="text-center">
          <div class="mb-1.5">
            <h6><strong>Experiência: </strong>
              <input class=" bg-pastel border-b border-vermelho font-normal w-16"
                     type="number"
                     [(ngModel)]="meuPersonagem['experiencia']">
            </h6>
          </div>
          <div class="mb-1.5">
            <h6><strong>Determinação: </strong>
              <input class=" bg-pastel border-b border-vermelho font-normal w-16"
                     type="number"
                     [(ngModel)]="meuPersonagem['determinacao']">
            </h6>
          </div>
          <div class="mb-1.5">
            <h6><strong>Moralidade: </strong>
              <input class=" bg-pastel border-b border-vermelho font-normal w-16"
                     type="number"
                     [(ngModel)]="meuPersonagem['moralidade']">
            </h6>
          </div>
        </div>
        <hr class="text-vermelho my-4">
        <div class="text-center">
          <p class="mb-1.5">
            <b>$$$: </b>
            <input class="bg-pastel border-b border-vermelho font-normal w-16"
                   type="number"
                   [(ngModel)]="meuPersonagem['dinheiro']">
          </p>
          <p class="mb-1.5">
            <b>Ouro: </b>
            <input class="bg-pastel border-b border-vermelho font-normal w-16"
                   type="number"
                   [(ngModel)]="meuPersonagem['ouro']">
          </p>
        </div>
      </div>
    </section>
  </article>
  <article>
    <div class="flex flex-row flex-wrap justify-start">
      <div class="w-full md:w-1/3 flex-initial p-2">
        <h5 class="mb-2"><b>Equipamentos</b></h5>
        <textarea name="equipamento" id="equipamento" class="bg-white w-full border border-vermelho font-normal"
                  rows="8"
                  [(ngModel)]="meuPersonagem['equipamento']"></textarea>

      </div>
      <div class="w-full md:w-2/3 flex-initial p-2">
        <h5 class="mb-2"><b>Idiomas, Perícias e Conhecimentos</b></h5>
        <textarea name="conhecimentos" id="conhecimentos" class="bg-white w-full border border-vermelho font-normal"
                  rows="8"
                  [(ngModel)]="meuPersonagem['conhecimentos']"
        ></textarea>
      </div>
    </div>
  </article>
  <article class="mb-4">
    <h5><b>Armas</b></h5>
    <section class="p-2 border-y mb-4">
      <p class="py-1.5" *ngFor="let arma of armas; let i = index">
        {{arma.nome}} | {{arma.municao}} balas [{{arma.dano}}] | Carga: {{arma.carga}} | Custo: {{arma.custo}}
        | {{arma.rotulo}}
        <span class="bg-vermelho rounded text-[#fff] p-1 float-right hover:bg-marrom"
              (click)="excluirArma(i)">Excluir</span>
      </p>
    </section>
    <form [formGroup]="armaForm">
      <div class="p-4 relative mb-4">
        <h6 class="font-bold mb-2 absolute left-0">Adicionar Arma</h6>
        <button class="bg-vermelho rounded text-[#fff] py-2 px-3 hover:bg-marrom absolute right-0"
                [ngClass]="{'cursor-not-allowed': !armaForm.valid}" (click)="armaForm.valid && salvarArma()">
          &plus;
        </button>
      </div>
      <div class="md:flex md:flex-row md:flex-nowrap md:justify-start md:px-8 md:gap-x-4">
        <div class="w-full md:flex-initial md:w-16">
          <label class="font-bold md:block" for="carga">Carga </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="carga" id="carga" type="number"
                 placeholder="0" formControlName="carga">
        </div>
        <div class="w-full md:flex-initial md:w-48">
          <label class="font-bold md:block" for="arma">Nome da Arma </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="arma" id="arma" type="text"
                 placeholder="nome da arma" formControlName="arma">
        </div>
        <div class="w-full md:flex-initial md:w-16">
          <label class="font-bold md:block" for="ammo">Munição </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="ammo" id="ammo" type="number"
                 placeholder="0" formControlName="ammo">
        </div>
        <div class="w-full md:flex-initial md:w-16">
          <label class="font-bold md:block" for="dano">Dano </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="dano" id="dano" type="text"
                 placeholder="2d6+1" formControlName="dano">
        </div>
        <div class="w-full md:flex-initial md:w-16">
          <label class="font-bold md:block" for="custo">Custo </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="custo" id="custo" type="number"
                 placeholder="0" formControlName="custo">
        </div>
        <div class="w-full md:flex-initial md:w-48">
          <label class="font-bold md:block" for="rotulo">Rótulo </label>
          <input class="bg-pastel border-b border-vermelho font-normal w-full " name="rotulo" id="rotulo" type="text"
                 placeholder="Propriedades da arma"
                 formControlName="rotulo">
        </div>
      </div>
    </form>
  </article>
</main>
<footer class="container bg-marrom text-amarelo p-3 mb-4">
  <p class="text-center text-xs">Versão 1.1 Alpha</p>
</footer>
